* {
/*   padding: 0;
  margin: 0;
  box-sizing: border-box; */
}

html {
  font-size: 62.5%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
}

.di {
  list-style-type: decimal;
}

.sl {
  list-style-type: circle;
}

.ecc {
  list-style-type: lower-alpha;
}

.st {
  list-style-type: lower-roman;
}
